# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

#package lock
package-lock.json

# IDE Files
.vscode

# Type Definitions
typings
!dist/typings

# pageObjects
# src/pageObjects/**/*

# Tests
dist
src/specs/debugspec.ts
report
reports
build

# Debugger protractor
#debugger/